@import url("https://use.typekit.net/rcr1opg.css");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

/*# Where to define variables */
:root {
  /*? Basic colors */
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --green: #09c372;
  --green-dark: #07a15e;
  --green-light: #0be586;
  --purple: #9166cc;
  --purple-dark: #7d4bc3;
  --purple-light: #a481d5;
  --pink: #ff4088;
  --pink-dark: #ff1c72;
  --pink-light: #ff649e;
  --purple-gray: #1f1d2b;
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  /*? Navbar variables */
  --nav-bg: var(--gray5);
  --nav-height: 70px;

  --projects-side-width: 300px;

  --font-body: "sofia-pro", sans-serif;
  --font-head: "cubano", sans-serif;
  --font-code: monospace;
  --font-comf: "Comfortaa";

  --front-gradient: linear-gradient(90deg, var(--blue-light), var(--purple-dark));

  --main-bg: var(--gray6);
  --text-color: var(--gray2);
}

/* # General properties */
*.hidden {
  visibility: hidden;
}

*.absolute-hidden {
  position: fixed;
  top: -5rem;
  left: -5rem;
}

.header-column p {
  padding-left: .45rem !important;
}

.header-column h2 {
  margin-bottom: .25rem !important;
}

/* # Element properties */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg);
  color: var(--text-color);
  font-family: var(--font-body);

  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  padding: 1rem;
  padding-top: calc(var(--nav-height) + 1em);
  padding-left: calc(var(--projects-side-width) + 1rem);
  background-color: var(--main-bg);
  color: var(--text-color);
  font-family: var(--font-comf);
  transition: padding .3s ease;
}

hr {
  border-bottom: 2px solid var(--gray4);
  border-top: none;
  border-left: none;
  border-right: none;
}

hr.text-border {
  border-bottom: 2px dashed var(--gray2);
  border-top: none;
  border-left: none;
  border-right: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-comf);
  font-weight: 400;
  color: var(--text-color);
}

em {
  color: var(--text-color);
}

code,
.code {
  font-family: var(--font-code);
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/* # Navbar properties */
nav.sticky-top {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--nav-height);
  z-index: 9;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
  font-family: var(--font-head);
}

#sidebar-switch:checked~nav.sticky-top,
#msg-sidebar-switch:checked~nav.sticky-top,
#acc-sidebar-switch:checked~nav.sticky-top {
  height: unset;
  overflow: auto;
}

#sidebar-switch:checked~main,
#msg-sidebar-switch:checked~main,
#acc-sidebar-switch:checked~main {
  overflow: hidden;
}

#sidebar-switch:checked~nav .side {
  transform: translate(0);
}

#msg-sidebar-switch:checked~nav .msg-side {
  transform: translate(0);
}

#acc-sidebar-switch:checked~nav .acc-side {
  transform: translate(0);
}

#login-overlay-switch:checked~main {
  opacity: .5;
}

nav>[class*=side]:not(.projects-side-left) {
  position: fixed;
  top: var(--nav-height);
  right: 0;
  width: 360px;
  min-height: calc(100vh - var(--nav-height));
  background: var(--nav-bg);
  transition: all .3s ease;
  overflow-y: auto;

  transform: translate(360px);
}

nav .side-wrapper {
  padding: 1rem;
  padding-left: 1.5rem;
  overflow: auto;
  max-height: calc(100vh - var(--nav-height) - 2rem);
}

nav>.top {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--nav-height);
  background: var(--nav-bg);
}

nav .item {
  padding: .5rem;
  padding-inline: 1rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

nav .item h1,
nav .item h2,
nav .item h3,
nav .item h4,
nav .item h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .5rem;
}

nav .item p {
  margin: 0;
  padding-left: .5rem;
  font-size: .8rem;
}

nav .item-icon {
  padding-inline: .25rem;
}

nav .left {
  float: left;
  margin-right: auto;
}

nav .right {
  float: right;
  margin-left: auto;
}

nav .reverse {
  display: flex;
  flex-direction: row-reverse;
}

nav .logo {
  width: 2.5rem;
  height: 2.5rem;
}

nav .logo * {
  stroke: var(--text-color);
}

nav .account-item-wrapper {
  margin-right: 1rem;
}

nav .account-item-wrapper img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

nav .account-item-wrapper p {
  font-size: 1rem;
  padding-inline: .5rem;
  font-weight: 700;
}

nav .icon-list {
  list-style-type: none;
}

nav .icon-list li {
  display: flex;
  align-items: center;
}

nav .icon-list a {
  text-decoration: none;
  color: var(--text-color);
}

nav .icon-list i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.5rem;
  padding: .5rem;
  background-color: var(--gray4);
  margin: .25rem .5rem;
  border-radius: 25%;
}

@media screen and (max-width: 700px) {
  nav .account-item-wrapper p {
    font-size: 0;
  }
}

@media screen and (max-width: 475px) {
  nav .account-item-wrapper {
    display: none;
  }
}

.acc-side img {
  border-radius: 50%;
  width: 5rem;
  margin-right: .5rem;
}

.acc-side a:not(.link) {
  color: var(--text-color);
  text-decoration: none;
}

.acc-side [class*=profile-wrapper] {
  background-color: var(--gray4);
  border-radius: 1rem;
  padding: 1rem;
  margin: .5rem 0;
}

.acc-side [class*=profile-wrapper] *:not(img) {
  margin: 0;
}

.side a:not(.link) {
  color: var(--text-color);
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.link {
  color: var(--blue);
  text-decoration: none;
}

*[class*=border-bottom] {
  --color: var(--text-color);
  border: none;
  border-bottom: 2px solid var(--color);
}
.border-bottom-gray { --color: var(--gray4); }

.bell:not(.new) {
  margin-right: 8px;
}

.bell.new::after {
  content: "";
  font-size: 0;
  position: relative;
  top: -1.25rem;
  right: .61rem;
  padding: .25rem;
  box-shadow: 0 0 0 .15rem var(--nav-bg);
  background-color: var(--red-dark);
  border-radius: 50%;
}

.msg.new h4::before {
  content: "";
  font-size: 0;
  position: relative;
  top: -.35rem;
  left: 0;
  padding: .25rem;
  background-color: var(--red-dark);
  border-radius: 50%;
  margin-right: .5rem;
}

.search-bar {
  height: 2rem;
  display: flex;
  width: 100%;
  max-width: 450px;
}

.search-bar input {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: var(--gray4);
  border-radius: 8px;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px var(--gray4);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
  transition: all .3s ease;
}

.link-wrapper {
  background-color: var(--gray4);
  border-radius: 1rem;
  padding: 1rem;
  margin: .5rem 0;
  transition: all .3s ease;
}

.link-wrapper:hover {
  opacity: .7;
}

.link-wrapper i {
  margin-right: .5rem !important;
}

.link-wrapper * {
  margin: 0;
}

.grid-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-manual {
  --grid-layout-gap: 1rem;
  --grid-column-count: 10;
  --grid-item--min-width: 500px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}

.login-overlay {
  transition: all .3s ease;
  display: none;
}

#login-overlay-switch:checked~.login-overlay {
  display: flex;
  z-index: 5;
  background-color: var(--nav-bg);
  width: 500px;
  height: 350px;
  border-radius: 1rem;
  transition: all .3s ease;
}

.form-wrapper {
  width: 80%;
}

.form-input-wrapper {
  width: 100%;
  margin-bottom: .5rem;
}

.form-input-wrapper label {
  min-width: 10rem;
  display: inline-block;
}

.form-input-wrapper input {
  height: 2rem;
  width: 50%;
  border: none;
  background-color: var(--gray4);
  border-radius: 8px;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px var(--gray4);
  color: #fff;
  transition: all .3s ease;
}

.form-input-wrapper textarea {
  border: none;
  background-color: var(--gray4);
  border-radius: 8px;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px 10px 16px;
  box-shadow: 0 0 0 2px var(--gray4);
  color: #fff;
  resize: vertical;
  width: 50%;
  height: 8rem;
}

.form-input-wrapper input:hover {
  opacity: .7;
}

.form-wrapper .form-submit {
  height: 2rem;
  border: none;
  background-color: var(--gray4);
  border-radius: 8px;
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 500;
  padding: 0 1rem 0 1rem;
  box-shadow: 0 0 0 2px var(--gray4);
  color: #fff;
  transition: all .3s ease;
}

.form-wrapper .form-submit:hover {
  opacity: .7;
}

.form-wrapper .error-text {
  width: 100%;
  color: var(--red-dark);
  margin-top: .25rem;
  margin-bottom: .25rem;
}

@media screen and (max-width: 515px) {
  .login-overlay {
    width: 100vw !important;
    border-radius: 0 !important;
  }

  .form-wrapper {
    width: 95vw;
  }

  .form-input-wrapper * {
    display: block;
  }

  .form-input-wrapper input {
    width: calc(95vw - 2rem - 10vw);
  }
}

.button.outline.gradient {
  --color: var(--blue-dark);

  padding: .5rem 1.75rem;
  border-width: 2px;
  border-style: solid;
  border-image: var(--front-gradient) 1 1;

  text-decoration: none;
  font-size: 1rem;
  transition: all .3s ease;
}

.button.outline:not(.gradient) {
  --color: var(--blue-dark);

  padding: .5rem 1.75rem;
  border: 2px solid var(--color);
  background: none;

  text-decoration: none;
  font-size: 1rem;
  transition: all .3s ease;
}
.button.outline.round {
  border-radius: 5px;
}

.button.outline.gradient span {
  background-image: var(--front-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.outline:not(.gradient) span {
  color: var(--color);
  transition: all .3s ease;
}

.button.outline.gradient:hover {
  background: var(--main-bg) var(--front-gradient);
}

.button.outline:not(.gradient):hover {
  background: var(--color);
}

.button.outline:hover span {
  color: var(--gray0);
  -webkit-text-fill-color: var(--gray0);
}

.button.outline.green {
  --color: var(--green-dark);
}

.button.outline.red {
  --color: var(--red-dark);
}

.button.outline.orange {
  --color: var(--orange-dark);
}

.button.outline.pink {
  --color: var(--pink-dark);
}

.button.outline.purple {
  --color: var(--purple-dark);
}

.button.outline.gray {
  --color: var(--gray3);
}

a:not(.link) {
  color: var(--text-color);
  text-decoration: none;
}

.sticky-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid var(--gray4);
  padding: 8px;
}

.table tr:nth-child(even){background-color: var(--gray5);}

.table tr :last-child {
  width: 1.5rem;
}

.table tr:hover {background-color: var(--gray4);}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--blue-dark);
  color: white;
}